.Home {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
