.Navigation {
  /* border: 1px solid white; */
  height: 80px;
  width: 100%;
  /* position: fixed; */
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  /* box-sizing: border-box; */
}

.Navigation ul {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  /* align-items: flex-end; */
  list-style-type: none;
  /* display: block */
}

.Navigation li {
  margin-right: 20px;
}

.Navigation a {
  text-decoration: none;
}

.Navigation a:hover, a:active, a.active {
  color: #dfe2e1;
}
