@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&display=swap" rel="stylesheet");

body {
  font-family: 'Hind', sans-serif;
  color: #FC766A;
  text-align: center;
  background-image: url("./assets/flower-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

h1 {
  font-size: 600%;
  margin-bottom: 0;
}

p {
  font-size: 150%;
}

a {
  color: #FC766A;
}
